project          = "infra-271013"
public_key_path  = "~/.ssh/id_rsa.pub"
private_key_path = "~/.ssh/id_rsa"
app_disk_image   = "reddit-app-base-1586039556"
db_disk_image    = "reddit-db-base-1586039278"
