[Unit]
Description=Puma HTTP server
After=network.target

[Service]
Type=simple
User=olegshatrava
WorkingDirectory=/home/olegshatrava/reddit
EnvironmentFile=/home/olegshatrava/db_config
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
